name: Publish new release
on:
  push:
    branches:
      - main
jobs:
  Deploy-Documentation:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
          cache-dependency-path: docs/yarn.lock
      - name: Install dependencies
        working-directory: ./docs
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: ./docs
        run: yarn build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
  Build-Deploy-Java-8:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '8'
      - run: gradle :shadowJar -b java8-build.gradle
      - uses: actions/upload-artifact@v4
        with:
          name: commandtimer-java8
          path: build/libs/commandtimer-java8.jar
      - name: Publish package
        run: gradle publish -b java8-build.gradle
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  Build-Deploy-Java-17:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - run: gradle :shadowJar -b java17-build.gradle
      - uses: actions/upload-artifact@v4
        with:
            name: commandtimer-java17
          path: build/libs/commandtimer-java17.jar
      - name: Publish package
        continue-on-error: true
        run: gradle publish -b java17-build.gradle
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  Build-Deploy-Java-21:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '21'
      - run: gradle :shadowJar
      - uses: actions/upload-artifact@v4
        with:
          name: commandtimer-java21
          path: build/libs/commandtimer-java21.jar
      - name: Publish package
        run: gradle publish
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  Release:
    needs:
      - Build-Deploy-Java-8
      - Build-Deploy-Java-17
      - Build-Deploy-Java-21
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
      - run: echo "PLUGIN_VERSION=$(./scripts/get-version.sh)" >> $GITHUB_ENV
      - run: gh release create ${{ env.PLUGIN_VERSION }} -t ${{ env.PLUGIN_VERSION }} artifact/*.jar
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
